<div id="content" class="container-fluid">
  <div class="applicationHeader">

    <form class="searchForm">
      <label for="search">Search: <input id="search" name="search" type="text" autocomplete="off" ng-model="searchString" ng-keyup="getMovies()" /></label>
      <!-- <button ng-click="getMovies()">Search</button> -->
    </form>
  </div>
  <!-- <label for="wolfram">Search:<input id="wolfram" name="wolfram" type="text" ng-model="wolframString"/></label>
  <button ng-click="wolframIt()">Wolfram</button> -->
  <div id="resultsArea">
    <result-card ng-repeat="movie in movies" movie-data="movie"></result-card>
    <div ng-repeat="result in wolframResults">
      <p>{{movie.original_title}}</p>
      <img ng-src="https://image.tmdb.org/t/p/w300_and_h450_bestv2{{movie.poster_path}}" />
      <p>{{movie.overview}}</p>
    </div>
  </div>
</div>
